In [1]:
import pandas as pd
import numpy as np

In [2]:
tv_ads_clean = pd.read_csv("../data/tv_ads_cleaned_2016.csv")

In [3]:
tv_ads_clean.columns

Index(['Unnamed: 0', 'id', 'wp_identifier', 'network', 'location', 'program',
       'program_type', 'start_time', 'end_time', 'archive_id', 'embed_url',
       'sponsors', 'sponsor_types', 'race', 'cycle', 'subjects', 'candidates',
       'type', 'message', 'date_created', 'year_aired', 'month_aired',
       'states_aired', 'cities_aired', 'ID', 'STATE_CODE', 'STATE_NAME',
       'CITY', 'COUNTY', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [4]:
tv_ads_clean[tv_ads_clean["COUNTY"] == "Hamilton"]

,Unnamed: 0,id,wp_identifier,network,location,program,program_type,start_time,end_time,archive_id,...,month_aired,states_aired,cities_aired,ID,STATE_CODE,STATE_NAME,CITY,COUNTY,LATITUDE,LONGITUDE
54789,84283,51059,3955,WKRC,"Cincinnati, OH",Good Morning Cincinnati Sunday,news,2016-02-28 16:41:25 UTC,2016-02-28 16:43:08 UTC,PolAd_DonaldTrump_3tzb7,...,2,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
58768,92026,54101,3610,WKRC,"Cincinnati, OH",The Wendy Williams Show,not news,2016-03-15 13:56:38 UTC,2016-03-15 13:57:08 UTC,PolAd_HillaryClinton_em9gu,...,3,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
58770,92028,54102,3610,WXIX,"Cincinnati, OH",FOX19 Morning News Extra,news,2016-03-15 13:11:12 UTC,2016-03-15 13:11:42 UTC,PolAd_HillaryClinton_em9gu,...,3,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
58773,92031,54104,3610,WXIX,"Cincinnati, OH",FOX19 Morning News Extra,news,2016-03-14 14:14:22 UTC,2016-03-14 14:14:52 UTC,PolAd_HillaryClinton_em9gu,...,3,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
58775,92033,54105,3610,WKRC,"Cincinnati, OH",Good Morning Cincinnati 6,news,2016-03-14 10:10:11 UTC,2016-03-14 10:10:41 UTC,PolAd_HillaryClinton_em9gu,...,3,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489631,843924,470216,1045,WCPO,"Cincinnati, OH",This Week With George Stephanopoulos,news,2016-01-31 14:07:01 UTC,2016-01-31 14:09:57 UTC,PolAd_TedCruz_DonaldTrump_HillaryClinton_s78qc,...,1,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
489974,844271,470333,997,WLWT,"Cincinnati, OH",Meet the Press,news,2016-01-31 15:11:42 UTC,2016-01-31 15:12:12 UTC,PolAd_TedCruz_MarcoRubio_eg34b,...,1,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
489990,844287,470338,997,WLWT,"Cincinnati, OH",Meet the Press,news,2016-02-01 07:11:45 UTC,2016-02-01 07:12:15 UTC,PolAd_TedCruz_MarcoRubio_eg34b,...,2,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
493654,847951,471714,332,WKRC,"Cincinnati, OH",The Late Late Show With James Corden,not news,2016-01-15 05:39:02 UTC,2016-01-15 05:39:58 UTC,PolAd_TedCruz_3ypn4,...,1,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356
496088,850385,472591,856,WXIX,"Cincinnati, OH",Fox News Sunday With Chris Wallace,news,2016-01-17 15:06:18 UTC,2016-01-17 15:06:48 UTC,PolAd_TedCruz_6pvtj,...,1,OH,Cincinnati,19690.0,OH,Ohio,Cincinnati,Hamilton,39.1063,-84.5356

In [55]:
cities_with_no_counties = list(tv_ads_clean[tv_ads_clean["COUNTY"].isna()]["cities_aired"].unique())

In [56]:
for city in cities_with_no_counties:
    states = tv_ads_clean[tv_ads_clean["cities_aired"] == city]["states_aired"].unique()
    print(city, "with state", states)

Tampa with state ['FL']
Dublin with state ['IA']
Des Moines with state ['IA']
Norfolk with state ['NC']
Portsmouth with state ['NC']
Newport News with state ['NC']
Anderson with state ['NC']
nan with state []

In [47]:
states = ['FL', 'IA', 'IA', 'NC', 'NC', 'NC', 'NC']

In [110]:
tv_ads_clean.loc[(tv_ads_clean["cities_aired"] == "Portsmouth") & 
             (tv_ads_clean["states_aired"] == "NC"), "COUNTY"] = "Portsmouth City"

In [116]:
tv_ads_clean[(tv_ads_clean["cities_aired"] == "Norfolk") & 
             (tv_ads_clean["states_aired"] == "NC")]["COUNTY"]

58534     Norfolk City
58860     Norfolk City
58863     Norfolk City
58866     Norfolk City
58877     Norfolk City
              ...
491023    Norfolk City
491028    Norfolk City
493679    Norfolk City
493703    Norfolk City
495813    Norfolk City
Name: COUNTY, Length: 1003, dtype: object

In [118]:
tv_ads_clean.loc[(tv_ads_clean["cities_aired"] == "Norfolk") & 
             (tv_ads_clean["COUNTY"] == "Norfolk City"), "states_aired"] = "VA"

In [119]:
tv_ads_clean[(tv_ads_clean["cities_aired"] == "Norfolk") & 
             (tv_ads_clean["COUNTY"] == "Norfolk City")]["states_aired"]

58534     VA
58860     VA
58863     VA
58866     VA
58877     VA
          ..
491023    VA
491028    VA
493679    VA
493703    VA
495813    VA
Name: states_aired, Length: 1003, dtype: object

In [18]:
county_info = pd.read_csv("../data/us_cities.csv")

In [84]:
county_info[(county_info["CITY"] == "Newport News") & (county_info["STATE_CODE"] == "VA")]

,ID,STATE_CODE,STATE_NAME,CITY,COUNTY,LATITUDE,LONGITUDE
27104,27105,VA,Virginia,Newport News,Newport News City,37.057951,-76.460722

In [122]:
county_info[county_info["CITY"] == "Dublin"]

,ID,STATE_CODE,STATE_NAME,CITY,COUNTY,LATITUDE,LONGITUDE
1991,1992,CA,California,Dublin,Alameda,37.716597,-121.922589
4379,4380,GA,Georgia,Dublin,Laurens,32.547794,-82.903680
7583,7584,IN,Indiana,Dublin,Wayne,39.812222,-85.208889
14236,14237,MS,Mississippi,Dublin,Coahoma,34.072222,-90.490556
15120,15121,NC,North Carolina,Dublin,Bladen,34.656667,-78.726667
16659,16660,NH,New Hampshire,Dublin,Cheshire,42.897198,-72.050538
19767,19768,OH,Ohio,Dublin,Franklin,40.099167,-83.114167
21967,21968,PA,Pennsylvania,Dublin,Bucks,40.371996,-75.204453
25205,25206,TX,Texas,Dublin,Erath,32.090873,-98.345469
26782,26783,VA,Virginia,Dublin,Pulaski,37.098879,-80.669696

In [123]:
tv_ads_clean[tv_ads_clean["cities_aired"] == "Dublin"]

,Unnamed: 0,id,wp_identifier,network,program,program_type,start_time,end_time,sponsors,sponsor_types,...,date_created,month_aired,states_aired,cities_aired,STATE_CODE,STATE_NAME,CITY,COUNTY,LATITUDE,LONGITUDE
59,59,27,5643,KCRG,Live With Kelly,not news,2016-09-08 14:39:00 UTC,2016-09-08 14:39:30 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
68,68,31,5643,KCRG,MLB Baseball,not news,2016-09-05 17:32:00 UTC,2016-09-05 17:32:30 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
83,83,37,5643,KCRG,Nightline,news,2016-09-06 04:50:59 UTC,2016-09-06 04:51:29 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
90,90,39,5643,KFXA,Family Feud,not news,2016-09-06 22:46:32 UTC,2016-09-06 22:47:02 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
94,94,40,5643,KFXA,The Steve Wilkos Show,not news,2016-09-07 20:33:59 UTC,2016-09-07 20:34:29 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501488,858551,475672,542,KWWL,Dateline NBC,news,2016-01-10 01:54:14 UTC,2016-01-10 01:54:44 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
501514,858577,475685,542,KWWL,Dateline NBC,news,2016-01-10 02:39:17 UTC,2016-01-10 02:39:47 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
501527,858590,475689,542,KWWL,Dateline NBC,news,2016-01-09 02:18:19 UTC,2016-01-09 02:18:49 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
501531,858594,475690,542,KWWL,Dateline NBC,news,2016-01-09 02:09:27 UTC,2016-01-09 02:09:57 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN
501543,858606,475694,542,KWWL,Dateline NBC,news,2016-01-10 01:11:29 UTC,2016-01-10 01:11:59 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN

In [94]:
tv_ads_clean

,Unnamed: 0,id,wp_identifier,network,program,program_type,start_time,end_time,sponsors,sponsor_types,...,date_created,month_aired,states_aired,cities_aired,STATE_CODE,STATE_NAME,CITY,COUNTY,LATITUDE,LONGITUDE
0,0,1,5643,KLAS,8 News Now at 5 PM,news,2016-09-09 00:12:59 UTC,2016-09-09 00:13:29 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,NV,Las Vegas,NV,Nevada,Las Vegas,Clark,36.172082,-115.122366
1,1,2,5643,WNCN,North Carolina News at 500PM,news,2016-09-06 21:58:25 UTC,2016-09-06 21:58:55 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,NC,Raleigh,NC,North Carolina,Raleigh,Wake,35.772701,-78.632439
2,2,2,5643,WNCN,North Carolina News at 500PM,news,2016-09-06 21:58:25 UTC,2016-09-06 21:58:55 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,NC,Durham,NC,North Carolina,Durham,Durham,35.996725,-78.896613
3,3,2,5643,WNCN,North Carolina News at 500PM,news,2016-09-06 21:58:25 UTC,2016-09-06 21:58:55 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,NC,Fayetteville,NC,North Carolina,Fayetteville,Cumberland,35.050990,-78.842255
4,4,3,5643,KLAS,Face the Nation,news,2016-09-04 16:24:25 UTC,2016-09-04 16:24:55 UTC,Hillary for America,Multiple,...,2016-09-12 14:49:32,9,NV,Las Vegas,NV,Nevada,Las Vegas,Clark,36.172082,-115.122366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501539,858602,475693,542,KTIV,Dateline NBC,news,2016-01-16 03:35:23 UTC,2016-01-16 03:35:53 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Sioux City,IA,Iowa,Sioux City,Woodbury,42.497223,-96.402920
501540,858603,475694,542,KWWL,Dateline NBC,news,2016-01-10 01:11:29 UTC,2016-01-10 01:11:59 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Cedar Rapids,IA,Iowa,Cedar Rapids,Linn,41.974300,-91.655382
501541,858604,475694,542,KWWL,Dateline NBC,news,2016-01-10 01:11:29 UTC,2016-01-10 01:11:59 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Waterloo,IA,Iowa,Waterloo,Black Hawk,42.477784,-92.366099
501542,858605,475694,542,KWWL,Dateline NBC,news,2016-01-10 01:11:29 UTC,2016-01-10 01:11:59 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Iowa City,IA,Iowa,Iowa City,Johnson,41.654899,-91.511192
501543,858606,475694,542,KWWL,Dateline NBC,news,2016-01-10 01:11:29 UTC,2016-01-10 01:11:59 UTC,Rand Paul for President,Candidate Committee,...,2017-05-04 16:37:54,1,IA,Dublin,NaN,NaN,NaN,Washington,NaN,NaN

In [124]:
tv_ads_clean.to_csv("../data/tv_ads_cleaned_2016.csv")

In [2]:
tv_ads_h_fav = pd.read_csv("../data/hillary_favored_ads.csv")

In [3]:
tv_ads_t_fav = pd.read_csv("../data/trump_favored_ads.csv")

In [4]:
tv_ads_h_fav.columns

Index(['id', 'wp_identifier', 'network', 'program', 'program_type',
       'start_time', 'end_time', 'sponsors', 'sponsor_types', 'subjects',
       'candidates', 'message', 'date_created', 'month_aired', 'states_aired',
       'cities_aired', 'STATE_CODE', 'STATE_NAME', 'CITY', 'COUNTY',
       'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [8]:
clinton_sponsors = tv_ads_h_fav["sponsors"].value_counts().sort_values(ascending=False)

In [9]:
trump_sponsors = tv_ads_t_fav["sponsors"].value_counts().sort_values(ascending=False)

In [10]:
clinton_sponsors.to_csv("../data/clinton_sponsors.csv")

In [11]:
trump_sponsors.to_csv("../data/trump_sponsors.csv")

In [4]:
trump_sponsors = pd.read_csv("../data/trump_sponsors.csv")

In [22]:
trump_sponsors

,Unnamed: 0,ads_sponsored,sponsors
0,Donald J Trump For President,27928,Donald J Trump For President
1,Donald J. Trump For President,18334,Donald J Trump For President
2,Rebuilding America Now,7516,Rebuilding America Now
3,Future45,2881,Future45
4,Stop Hillary PAC,1498,Stop Hillary PAC
5,Conservative Solutions PAC,1407,Conservative Solutions PAC
6,National Rifle Assn,1321,National Rifle Assn
7,45 Committee,1103,45 Committee
8,Reform America Fund,1044,Reform America Fund
9,Great America PAC,722,Great America PAC
10,Reclaim America PAC,504,Reclaim America PAC
11,Republican National Cmte,336,Republican National Cmte
12,America Rising PAC,214,America Rising PAC
13,Cruz for President,124,Cruz for President
14,American Crossroads,104,American Crossroads
15,Make America Number One,60,Make America Number One
16,NRA Institute for Legislative Action,40,NRA Institute for Legislative Action
17,National Republican Senatorial Cmte,16,National Republican Senatorial Cmte
18,Victory 2016 Committee,12,Victory 2016 Committee

In [21]:
trump_sponsors["sponsors"] = trump_sponsors["Unnamed: 0"].str.replace(pat="Donald J. Trump For President", repl="Donald J Trump For President")

In [25]:
trump_sponsors_2 = trump_sponsors.groupby(["sponsors"], as_index=False).aggregate({"ads_sponsored":"sum"})

In [26]:
trump_sponsors_2.to_csv("../data/trump_sponsors_2.csv", index=False)

In [2]:
us_pres_votes = pd.read_csv("../data/us_president_2016_votes_2.csv")

In [3]:
us_pres_votes

,Unnamed: 0,year,state,state_postal,county_name,county_lat,county_long,precinct,candidate,votes
0,0,2016,Alabama,AL,Autauga,32.532237,-86.64644,10 JONES COMMUNITY CTR,Hillary Clinton,135
1,1,2016,Alabama,AL,Autauga,32.532237,-86.64644,10 JONES COMMUNITY CTR,Gary Johnson,0
2,2,2016,Alabama,AL,Autauga,32.532237,-86.64644,10 JONES COMMUNITY CTR,Jill Stein,1
3,3,2016,Alabama,AL,Autauga,32.532237,-86.64644,10 JONES COMMUNITY CTR,Donald Trump,218
4,4,2016,Alabama,AL,Autauga,32.532237,-86.64644,10 JONES COMMUNITY CTR,[Write-in],4
...,...,...,...,...,...,...,...,...,...,...
1948344,1948344,2016,Wyoming,WY,Wes,43.846210,-104.57000,Newcastle - State Forestry Building 5-3,Hillary Clinton,63
1948345,1948345,2016,Wyoming,WY,Wes,43.846210,-104.57000,Newcastle - State Forestry Building 5-3,Rocky De La Fuente,0
1948346,1948346,2016,Wyoming,WY,Wes,43.846210,-104.57000,Newcastle - State Forestry Building 5-3,Gary Johnson,28
1948347,1948347,2016,Wyoming,WY,Wes,43.846210,-104.57000,Newcastle - State Forestry Building 5-3,Jill Stein,2
1948348,1948348,2016,Wyoming,WY,Wes,43.846210,-104.57000,Newcastle - State Forestry Building 5-3,Donald Trump,412

In [24]:
state_wise_votes = us_pres_votes.groupby(["state","candidate"], as_index=False).aggregate({"votes":"sum"})

In [25]:
state_wise_votes_HT = state_wise_votes[(state_wise_votes["candidate"] == "Donald Trump") | 
                                      (state_wise_votes["candidate"] == "Hillary Clinton")]

In [26]:
state_wise_votes_T = np.array(state_wise_votes_HT[state_wise_votes["candidate"] == "Donald Trump"]["votes"])

/Users/karthikarumugam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [27]:
state_wise_votes_T

array([1317127, 1252389,  684872, 4484111, 1202484,  673215,  185127,
         12723, 4617879, 2089104,  128847,  409055, 2147758, 1557111,
        800983,  671020, 1202924, 1178638,  333678,  943169, 1090893,
       2279543, 1322951,  700714, 1569857,  279240,  496142,  511800,
        264419, 1600868,  319667, 2813880, 2362631,  216794, 2841005,
        949136,  782403, 2970378,  180490, 1155389,  227460, 1522925,
       4684288,  515869,   95369, 1769443, 1219812,  489351, 1404000,
        174419])

In [28]:
state_wise_votes_HT["state"].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'District of Columbia', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [29]:
state_wise_votes_H = np.array(state_wise_votes_HT[state_wise_votes["candidate"] == "Hillary Clinton"]["votes"])

/Users/karthikarumugam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [30]:
state_wise_votes_H

array([ 727869, 1161165,  380494, 8755065, 1338870,  897572,  235603,
        282830, 4504974, 1877963,  266891,  189765, 3091904, 1033089,
        653669,  427009,  628846,  780154,  353649, 1677928, 1995196,
       2268839, 1367716,  485131,  973333,  177709,  284527,  539132,
        239823, 2148239,  385234, 4552472, 2189316,   93758, 2394164,
        420375, 1002106, 2925758,  251888,  855373,  114938,  870695,
       3877626,  311164,  178573, 1981473, 1741603,  188785, 1381823,
         55973])

In [31]:
state_wise_votes_T - state_wise_votes_H

array([  589258,    91224,   304378, -4270954,  -136386,  -224357,
         -50476,  -270107,   112905,   211141,  -138044,   219290,
        -944146,   524022,   147314,   244011,   574078,   398484,
         -19971,  -734759,  -904303,    10704,   -44765,   215583,
         596524,   101531,   211615,   -27332,    24596,  -547371,
         -65567, -1738592,   173315,   123036,   446841,   528761,
        -219703,    44620,   -71398,   300016,   112522,   652230,
         806662,   204705,   -83204,  -212030,  -521791,   300566,
          22177,   118446])

In [32]:
state_wise_votes_T_pd = state_wise_votes[state_wise_votes["candidate"] == "Donald Trump"].copy()

In [33]:
state_wise_votes_T_pd["diff_with_Hillary"] = state_wise_votes_T - state_wise_votes_H

In [52]:
state_wise_votes_T_pd.to_csv("../data/state_wise_vote_diff.csv", index=False)

In [5]:
county_wise_votes = us_pres_votes.groupby(["county_name","candidate"], as_index=False).aggregate({"votes":"sum"})

In [6]:
county_wise_votes

      county_name        candidate  votes
0       Abbeville   Darrell Castle     38
1       Abbeville     Donald Trump   6763
2       Abbeville    Evan McMullin     56
3       Abbeville     Gary Johnson    129
4       Abbeville  Hillary Clinton   3741
...           ...              ...    ...
25424      Zavala    Tony Valdivia      0
25425     Ziebach   Darrell Castle     18
25426     Ziebach     Donald Trump    368
25427     Ziebach     Gary Johnson     28
25428     Ziebach  Hillary Clinton    352

[25429 rows x 3 columns]

In [11]:
county_wise_votes_T = np.array(county_wise_votes[county_wise_votes["candidate"] == "Donald Trump"]["votes"])

In [12]:
county_wise_votes_H = np.array(county_wise_votes[county_wise_votes["candidate"] == "Hillary Clinton"]["votes"])

In [13]:
county_wise_votes_diff = county_wise_votes_T - county_wise_votes_H

In [14]:
county_wise_votes_T_pd = county_wise_votes[county_wise_votes["candidate"] == "Donald Trump"].copy()

In [15]:
county_wise_votes_T_pd["diff_with_Hillary"] = county_wise_votes_diff

In [16]:
florida_counties = us_pres_votes[us_pres_votes["state"] == "Florida"]["county_name"].unique()

In [17]:
florida_counties

array(['Alachua', 'Baker', 'Ba', 'Bradford', 'Brevard', 'Broward', 'Calh',
       'Charlotte', 'Citrus', 'Cla', 'Collier', 'Columbia', 'DeS',
       'Dixie', 'Duval', 'Escambia', 'Flagler', 'Frankli', 'Gadsde',
       'Gilchris', 'Glades', 'Gulf', 'Hamil', 'Hardee', 'Hendr',
       'Hernand', 'Highlands', 'Hillsborough', 'Holmes', 'Indian River',
       'Jacks', 'Jeffers', 'Lafayette', 'Lake', 'Lee', 'Le', 'Lev',
       'Liber', 'Madis', 'Manatee', 'Mari', 'Marti', 'Miami-Dade',
       'Monroe', 'Nassa', 'Okaloosa', 'Okeechobee', 'Orange', 'Osceola',
       'Palm Beach', 'Pasc', 'Pinellas', 'Polk', 'Putnam', 'Santa Rosa',
       'Sarasota', 'Seminole', 'St. Johns', 'St. Lucie', 'Sumter',
       'Suwannee', 'Taylor', 'Uni', 'Volusia', 'Wakulla', 'Wal',
       'Washing'], dtype=object)

In [18]:
florida_results = county_wise_votes_T_pd[county_wise_votes["county_name"].isin(florida_counties)].copy()

/Users/karthikarumugam/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [22]:
florida_results[florida_results["diff_with_Hillary"] > 0].sort_values("diff_with_Hillary",ascending=False).count()

county_name          54
candidate            54
votes                54
diff_with_Hillary    54
dtype: int64

In [23]:
florida_results[florida_results["diff_with_Hillary"] < 0].sort_values("diff_with_Hillary",ascending=False).count()

county_name          13
candidate            13
votes                13
diff_with_Hillary    13
dtype: int64

In [26]:
florida_results[florida_results["county_name"] == "Hillsborough"]

        county_name     candidate   votes  diff_with_Hillary
10845  Hillsborough  Donald Trump  327853             -32001